In [36]:
import psycopg2

In [37]:
conn = psycopg2.connect(host='localhost', database='postgres', user='postgres', password='2023', port='5432'); 
# DB connection 얻기

In [38]:
cur = conn.cursor() # connection의 cursor(커서)

In [39]:
cur.execute('SELECT COUNT(*) FROM volt_table') # cursor에 명령어(SQL) 실행
conn.commit() # connection에 기록하기 -> cursor 명령어를 DB가 실행

In [40]:
result = cur.fetchone() # DB에서 실행한 결과를 cursor를 통해 튜플 하나(one) 획득(fetch)
nCount = result[0]

In [41]:
print(result)

(0,)

In [42]:
print(nCount)

0

In [43]:
# 현재 시간 읽기
import time
nTime = int(time.time()) # 현재 에포크 타임(epoch time: 1970년 기점으로 측정한 시간)
print(nTime)

1700031922

In [44]:
# 각 column에 data 삽입
measTime = int(time.time())
volt = 3.7
cur.execute(f'INSERT INTO volt_table(meas_time, volt) VALUES({measTime}, {volt})')
conn.commit()

In [45]:
# 각 column의 data를 읽어오기
cur.execute('SELECT meas_time, volt FROM volt_table') # SQL에 0번은 meas_time, 1번은 volt
conn.commit()

In [46]:
# DB 실행 결과 전부(all)를 획득(fetch)
result = cur.fetchall() # 튜플을 원소로 가진 리스트
print(result)

[(1700031930, 3.7)]

In [47]:
measTime = result[0][0] # meas_time: 0번 row(튜플)의 0번 값(측정 시간)
print(measTime)

1700031930

In [48]:
volt = result[0][1] # meas_time: 0번 row(튜플)의 1번 값(전압)
print(volt)

3.7

In [49]:
# table의 모든 원소 자르기(삭제)
cur.execute('TRUNCATE volt_table')
conn.commit()

In [50]:
# DB를 다 쓰고 나면 cursor와 connection 닫기
cur.close()
conn.close()